language: node_js

node_js:
  - "node"

notifications:
  email:
    - 526avijit@gmail.com
    - yashmehrotra95@gmail.com

env:
  matrix:
    - RUN_LINT=true
    - RUN_FRONTEND_TESTS=true

matrix:
  allow_failures: []
  fast_finish: true

install:
  - npm install -g mocha
  - npm install
  - wget https://gist.githubusercontent.com/526avijitgupta/8378031286d14e7911d12f66261ec9d3/raw/1e0c4b93a0fa4b0e714112d7beca7b6f8f54c0e5/config.js

script:
  - if [ $RUN_LINT == 'true' ]; then npm run-script lint; fi
  - if [ $RUN_FRONTEND_TESTS == 'true' ]; then npm run-script frontend_tests; fi
